<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>

<body>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>Our Labels</h1>
      <p>This page shows the various labels and their meanings</p>
      <a href="/" class="btn btn-primary">Home Page</a>
    </div>
  </div>

  <div class="container-fluid bg-3 text-center">
    <h3>Fake News Detection Labels</h3><br>
    <div class="row">
      <div class="col-sm-3">
        <p>FAKE NEWS</p>
        <p> Sources that entirely fabricate information, disseminate deceptive content, or grossly distort actual news
          reports</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrFqjh78bBczHKNz1QSkhBItCLEGWftBSO_g&usqp=CAU"
          style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>SATIRE</p>
        <p>Sources that use humor, irony, exaggeration, ridicule, and false information to comment on current events.
        </p>
        <img src="https://logos.flamingtext.com/Name-Logos/Satire-design-amped-name.png" class="img-responsive"
          style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p> BIAS</p>
        <p> Sources that come from a particular point of view and may rely on propaganda, decontextualized information,
          and opinions distorted as facts.</p>

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpeRUr9X0v_oYY0Zg6D9zBGtPBwRrmVMqQAA&usqp=CAU"
          class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>JUNKSCI</p>
        <p> Sources that promote pseudoscience, metaphysics, naturalistic fallacies, and other scientifically dubious
          claims.</p>
        <img
          src="http://static1.squarespace.com/static/56abaf63841abaeb952d3ec7/56abb266841abaeb952d5866/5dae5c038adb67266ad2107e/1582475615217/Junk+Science.png?format=1500w"
          class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div><br>

  <div class="container-fluid bg-3 text-center">
    <div class="row">
      <div class="col-sm-3">
        <p>POLITICAL</p>
        <p> Sources that provide generally verifiable information in support of certain points of view or political
          orientations.</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjgnzba1jjahuSGwuRM2s1dEoh0xGaeaEP1w&usqp=CAU"
          class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>CLICKBAIT</p>
        <p> Sources that provide generally credible content, but use exaggerated, misleading, or questionable headlines,
          social media descriptions, and/or images.</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7ihFUpU0zUenXQoDksIOp_xR_Nlr7FrbQTA&usqp=CAU"
          class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>RELIABLE</p>
        <p> Sources that circulate news and information in a manner consistent with traditional and ethical practices in
          journalism (Remember: even credible sources sometimes rely on clickbait-style headlines or occasionally make
          mistakes. No news organization is perfect, which is why a healthy news diet consists of multiple sources of
          information).</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAF2T-qMi5cxMwSm1QtbidYsbUnhcO8IDbKQ&usqp=CAU"
          class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>HATE</p>
        <p> Sources that actively promote racism, misogyny, homophobia, and other forms of discrimination.</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5o_ao2j7RJlgi6JJTaqGZipcMLOL9RR0hqg&usqp=CAU"
          class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div><br>

    <div class="col-sm-3">
      <p>UNRELIABLE</p>
      <p> Sources that are not trustworthy and have elements which undermine the truth.</p>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_putXdoTkbfMkxoR3pFJVTPUIs99dPJmrOA&usqp=CAU"
        class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>RUMOR</p>
      <p> Sources that promote unnecessary information which is ot true and generated to make people believe its
        existence.</p>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJ7nuKuCMiTS7Ip83szpCa_aEAWtPfcp9GiA&usqp=CAU"
        class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>CONSPIRACY</p>
      <p> Sources that are well-known promoters of kooky conspiracy theories.</p>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqnZKREW23qsLDL7XVpqvmjJ0bHESI30ZY_g&usqp=CAU"
        class="img-responsive" style="width:100%" alt="Image">
    </div>

  </div>
  </div><br><br>



</body>

</html>